.footer {
    background: linear-gradient(to right, #ffffff, #6fe2f1);
    /* Gradient background from white to very light blue */
    height: 7vh;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1em solid #ccc;
    font-size: 14px;
}