@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        @apply grid relative w-full min-h-[5.5em] pb-2 h-[1erm] bg-gradient-to-r from-cyan-300 to-white border-gray-300 items-center justify-center;
        grid-template-columns: auto 1fr auto;
        border-bottom: 1px solid #ddddff;
        position: relative;
    }

    .logo {
        @apply relative flex flex-col self-center items-center space-y-1 m-2;
    }

    .logoLink {
        @apply flex items-center space-x-2 w-max m-1 h-auto;
    }

    .logo img {
        @apply w-6 h-6 md:w-8 md:h-8;
    }

    .logo p {
        @apply font-serif text-lg text-center;
    }

    nav {
        @apply relative text-lg;
    }

    .nav-menu {
        @apply list-none inline-flex my-2 mx-2 h-auto justify-between;
    }

    .nav-menu li {
        @apply ml-20 mr-5 relative;
    }

    .nav-menu li a {
        @apply no-underline text-black;
    }

    .nav-menu li a::after {
        @apply text-black;
    }

    .auth {
        @apply col-span-1 flex justify-end space-x-4 mr-5;
    }

    .auth a,
    .auth button {
        @apply p-2 border rounded content-normal;
    }

    @media (max-width: 768px) {

        .logoLink,
        .logo {
            @apply justify-center w-max;
        }

        .logo {
            @apply flex flex-row space-x-3;
        }

        .header {
            @apply grid-cols-1 justify-items-center;
        }

        nav,
        .auth {
            @apply hidden;
        }
    }
}