@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .app-container {
        @apply flex flex-col h-full min-w-full absolute;
    }

    .header {
        @apply grid fixed w-full min-h-[5em] h-[5.5em] items-center justify-center z-10;
    }

    .mobile-menu-container {
        @apply block relative max-h-[50vh] w-full md:hidden z-[15] top-[5.5em];
    }

    .mobile-menu {
        @apply bg-white left-0 right-0 overflow-hidden transition-all duration-500 ease-in-out h-0 relative top-0;
    }

    .mobile-menu.open {
        @apply h-max;
    }

    .menu-toggle {
        @apply w-full border rounded-b text-center align-bottom bg-gray-400;
        top: calc(5.5em + 1em);
        font-size: 6px;
    }

    .main-content {
        @apply fixed h-full w-[75vw] left-0 p-4 overflow-x-auto top-[5.5em] z-0;
        height: calc(100vh - 5.5em - 7vh);
    }

    .side-panel {
        @apply fixed bg-gray-100 hidden md:block left-[75vw] top-[5.5em] w-[25vw] bottom-[7vh];
    }

    .footer {
        @apply fixed left-0 bottom-0 w-full p-4 border-t border-gray-300 h-[7vh];
    }

    @media (max-width: 768px) {
        .main-content {
            width: 100%;
            /*height: calc(100vh - 5.5em - 7vh -);
            top: calc(5.5em +);*/
        }

        .nav,
        .auth {
            @apply hidden;
        }

        .side-panel {
            @apply hidden;
        }

        .menu-toggle {
            @apply block;
        }
    }
}