@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .pet-register-container {
        @apply flex flex-col items-center justify-center bg-white p-6 rounded-lg shadow-md max-w-3xl mx-auto mt-3;
    }

    .titulo {
        @apply text-center my-5 font-bold text-2xl text-gray-800;
    }

    .info-section {
        @apply relative px-10 py-5 space-y-5;
    }

    .info {
        @apply mb-5 text-base leading-relaxed text-gray-700;
    }

    .outer-list {
        @apply list-disc pl-5 mb-5 ml-5;
    }

    .inner-list {
        @apply list-decimal pl-10 mb-5;
    }

    .fieldname {
        @apply font-semibold text-gray-800;
    }

    .obrigatorio {
        @apply text-red-600 font-semibold;
    }

    .species {
        @apply italic text-gray-600;
    }
}