/* @import url('@/styles/variables.css');

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-columns: var(--main-content-width) auto; 
  min-height: 100vh;
}

.main-content {
  grid-row: 2 / 3; 
  grid-column: 1 / 2; 
  padding: 1em;
}



.side-panel {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding: 1em;
  border-left: 0.1em solid #ccc;
  max-width: 100%;
}

.headerSection {
  height: var(--header-height);
  flex: 0 0 auto; 
}

.footer {
  height: var(--footer-height);
  flex: 0 0 auto; 
}

.headerSection,
.mainContent,
.footerSection {
  z-index: 1; 
}

.sidePanel {
  z-index: 2; 
}


@media screen and (max-width: 768px) {
  .mainContent {
    padding-top: 10%; 
  }

  .sidePanel {
    display: none; 
  }
} */