@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .login-container {
        @apply flex flex-col items-center p-4 h-full;
    }

    .login-title {
        @apply text-2xl font-bold mb-4;
    }

    .login-form {
        @apply w-full mt-5 max-w-lg h-auto bg-white p-6 rounded-2xl shadow-md;
    }

    .form-label {
        @apply block mb-4;
    }

    .form-input {
        @apply block w-full mt-2 p-2 border rounded;
    }

    .form-button {
        @apply w-[50%] ml-[25%] p-2 my-1 bg-blue-500 text-white rounded hover:bg-blue-600;
    }

    .error-label {
        @apply mt-4 text-red-600;
    }
}