@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .carousel-item {
        transition: opacity 2s ease, z-index 0.5s ease;
    }
}

@layer components {
    .carousel {
        @apply relative grid grid-rows-1 h-full z-0;
    }

    .carousel-container {
        @apply relative flex overflow-hidden items-center h-full;
    }

    .carousel-item {
        @apply w-full h-[90%] absolute p-5 box-border bg-[#f0f0f0] opacity-0 z-0;
    }

    .carousel-item h3 {
        @apply text-2xl mb-5 z-0;
    }

    .carousel-item img {
        @apply h-[75%] w-auto flex mx-auto mb-5 left-[50%] max-h-[80%] z-0;
    }

    .carousel-item p {
        @apply my-9 text-center;
    }

    .carousel-item.active {
        @apply z-[1] opacity-100;
    }

    .controls {
        @apply mt-[10px];
    }

    .controls button {
        @apply mx-0 my-2;
    }
}

.controls {
    margin-top: 10px;
}

.controls button {
    margin: 0 5px;
}