@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .dropdown-menu {
        @apply list-none p-0 m-0 absolute left-0 hidden w-auto z-10 bg-white;
        top: 100%;
    }

    .dropdown.open .dropdown-menu {
        @apply block border-b border-gray-900;
    }

    .dropdown.open ul a {
        @apply w-auto h-auto;
    }

    .dropdown-menu li {
        @apply border rounded-sm border-gray-900 border-b-0 m-0 py-2 px-4 whitespace-nowrap w-auto;
    }

    .dropdown-menu li a {
        @apply text-gray-900 no-underline block w-auto;
    }

    .dropdown-menu li:hover {
        @apply bg-[#eef0d8];
    }
}



/* .dropdown-menu {
    position: relative;
}

.dropdown-menu > Link {
    text-decoration: none;
    cursor: pointer;
}

.dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 2;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown.open .dropdown-menu {
    display: block;
    border: 1px solid #333;
}

.dropdown-menu li {
    border: 1px solid #333;
    border-bottom: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
}

.dropdown-menu li:hover {
    background-color: #eef0d8;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    box-sizing: border-box;
    width: 100%;
}

.dropdown-menu li a:hover {
    background-color: #eef0d8;
} */