@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mobile-menu {
        @apply bg-white fixed md:hidden left-0 right-0 overflow-hidden transition-all duration-500 ease-in-out h-0;
    }

    .mobile-menu.open {
        @apply max-h-[60vh];
    }

    .mobile-nav-menu {
        @apply list-none p-0 flex flex-wrap justify-center;
    }

    .mobile-menu-item {
        @apply p-2 w-1/2 md:w-1/4 flex flex-col items-center;
    }

    .mobile-menu-item img {
        @apply h-12 w-12 mb-2;
    }

    .mobile-menu-item span {
        @apply text-center;
    }
}