@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .about-container {
        @apply flex flex-col items-center justify-center bg-white p-6 rounded-lg shadow-md max-w-3xl mx-auto mt-3;
    }

    .titulo {
        @apply text-center my-5 font-bold text-2xl text-gray-800;
    }

    .info-section {
        @apply relative px-10 py-5 space-y-5;
    }

    .info {
        @apply mb-5 text-lg leading-relaxed text-gray-700;
    }

    .info .contact {
        @apply font-sans font-bold text-blue-600 underline;
    }
}