@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-page {
        @apply block h-full relative;
    }

    .main-page h1 {
        @apply whitespace-nowrap text-nowrap text-lg;
    }

    .carousel-area {
        @apply h-[90vh] relative mt-3 mr-3;
    }
}