@import url('@/styles/variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-page {
        @apply block h-full relative;
    }

    .main-page h1 {
        @apply whitespace-nowrap text-nowrap text-lg;
    }

    .carousel-area {
        @apply relative h-[95%] overflow-hidden;
    }
}