@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-page {
        @apply block h-full;
    }

    .main-page h1 {
        @apply whitespace-nowrap text-nowrap text-lg;
    }

    .carousel-area {
        @apply mt-3 mr-3 w-full h-[95%] overflow-hidden;
    }
}